@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9; 
}
::-webkit-scrollbar-thumb {
  background: #8094BD; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #343750; 
}

/* Gradient Text Utility */
.text-gradient {
  background: linear-gradient(to right, #343750, #8094BD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}